<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <script src="https://kit.fontawesome.com/934bce4726.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            initializeCKEditor(); // Initialize CKEditor only on this page
        });
    </script>
</head>
<body>
    <!---------Header------->
    <div class="header">
        <div class="brand">
            <h1>ADMIN</h1>
        </div>
        <div class="admin-info">
            <i class="fa-solid fa-user"></i>
            <div class="admin-item">
                <a class="admin-username" href="#"><%= admin.username %>
                    <i class="fa-solid fa-sort-down"></i>
                </a>
                <ul class="admin-dropdown">
                    <li><a class="profile-link" href="#">Profile</a></li>
                    <li><a class="logout-link" href="/admin/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!----------AdminMenu--------->
    <div class="admin-menu">
        <div class="menu-item">
            <a href="/admin/blogs">Manage Posts</a>
        </div>
        <div class="menu-item">
            <a href="/admin/topics">Manage Topics</a>
        </div>
        <div class="menu-item">
            <a href="/admin/users">Manage Users</a>
        </div>
    </div>
    <!------------Container----------->
    <div class="container">
        <!---------Edit-Menu------->
        <div class="edit-menu">
            <div class="edit-item">
                <a class="add-link" href="/admin/blogs/add">Add Post</a>
            </div>
            <div class="edit-item">
                <a class="manage-link" href="/admin/blogs">Manage Posts</a>
            </div>
        </div>
        <!---------Form------->
        <form class="form-post" method="POST" action="/admin/blogs/edit?post_id=<%= blog._id %>" enctype="multipart/form-data">
            <div class="text">
                <h1>Edit Post</h1>
            </div>
            <div class="form" id="blogID" data-blog-id="<%= blog._id %>">
                <div class="form-1">
                    <div class="form-item">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" value="<%= blog.title %>">
                    </div>
                    <div class="form-item">
                        <label for="images">Image</label>
                        <input style="border: 1px solid black" type="file" id="images" name="images" multiple>
                        <div class="image-preview">
                            <% blog.images.forEach((image, i) => { %>
                            <div class="image-container" id="<%= image._id %>">
                                <img src="/<%= image.path %>" alt="Image" onclick="openModal('<%= JSON.stringify(image) %>')">
                                <i class="fa-regular fa-circle-xmark" onclick="deleteImage('<%= blog._id %>', '<%= image._id %>')"></i>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <div class="form-item">
                        <label for="topic">Topic</label>
                        <select id="topic" name="topic">
                            <% topics.forEach(topic => { %>
                            <% var selected = (topic.name == blog.topic) ? "selected" : ""; %>
                            <option value="<%= topic.name %>" <% if (selected) { %> selected <% }; %>><%= topic.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="author">Author</label>
                        <input type="text" id="author" name="author" value="<%= blog.author %>" readonly>
                    </div>
                </div>
                <div class="form-2">
                    <div class="form-item">
                        <label for="content">Content</label>
                        <textarea name="content" id="content"><%= blog.body %></textarea>
                    </div>
                </div>
            </div>
            <% if (msg) { %>
            <div class="alert"><%= msg %></div>
            <% } %>
            <input type="submit" class="submit-btn" value="Update">
        </form>
    </div>
    <!-- The Modal -->
    <div id="imageModal" class="modal">
        <div class="thumbnail-btn" onclick="setThumbnail()">Set Thumbnail</div>
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImage" img-id="" src="">
    </div>

    <!--CKEditor-->
    <script src="/ckeditor/ckeditor.js"></script>
    <!--Custom Script-->
    <script src="/js/scripts.js"></script>
</body>
</html>